* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #090b1a;
  color: #fff;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 1rem;
}

.attribution a {
  color: #3e52a3;
}

.container {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 18vh auto;
  width: 70vw;
  border-radius: 10px;
}

.left {
  width: 35vw;
  padding: 2rem;
  background-color: #1b1938;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.left__heading {
  font-size: 2rem;
  padding: 1rem 1rem;
  color: white;
  font-family: "Lexend Deca", sans-serif;
}

.left__heading--purple {
  color: #aa5cdb;
}

.left__para {
  padding: 1rem 1rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
}

.left__para--upper {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.left__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.9rem 1rem 0 1rem;
  font-size: 0.8rem;
}

.right {
  position: relative;
  background: url(../images/image-header-desktop.jpg) no-repeat center center/cover;
  height: 100%;
  width: 35vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right::after {
  content: '';
  position: absolute;
  width: 35vw;
  height: 100%;
  background: #830db9;
  opacity: 0.4;
}

@media (max-width: 920px) {
  .left {
    width: 35vw;
    padding: 1rem;
  }
  .left__heading {
    font-size: 1.5rem;
  }
  .left__para {
    padding: 1rem 1rem;
  }
  .left__card-container {
    padding: 2.9rem 1rem 0 1rem;
    font-size: 0.7rem;
  }
  .left__statcards--no {
    padding: 0 3rem 0.5rem 0;
  }
}

@media (max-width: 700px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 5vh auto 5vh;
    height: 100%;
  }
  .left {
    width: 70vw;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    text-align: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .left__heading {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
  .left__para {
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
  }
  .left__card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
    font-size: 0.8rem;
  }
  .left__statcards h2 {
    padding-right: 0px;
  }
  .right {
    position: relative;
    background: url(../images/image-header-mobile.jpg) no-repeat center center/cover;
    height: 100%;
    width: 70vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .right::after {
    content: '';
    position: absolute;
    width: 70vw;
    height: 100%;
    background: #830db9;
    opacity: 0.4;
  }
}
/*# sourceMappingURL=main.css.map */